@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-text-color: #202020;
    --secondary-text-color: #90A3BF;
    --tertiary-text-color: #FFFFFF;
    --primary-bg: #0578FF;
    --secondary-bg: #FFC501;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #F5F5F5;
    color: var(--primary-text-color);
}

.container {
    max-width: 1440px;
    padding-inline: 64px;
    margin-inline: auto;
}

/*HEADER*/

.container a {
    text-decoration: none;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 32.5px;
    padding-bottom: 32.5px;
    gap: 96px;
}

.header-logo-image-and-name {
    display: flex;
    align-items: center;
    gap: 15px;
}
.header-logo-image {
    width: 73px;
}

.header-logo-name {
    font-size: 2.125rem;
}

.header-nav {
    display: flex;
    gap: 96px;
    align-items: center;
}

.header-nav a {
    color: var(--primary-text-color);
    font-size: 1.25rem;
    transition: color 0.2s cubic-bezier(0, 0, 0.2, 1);
}

.header-nav a:hover {
    color: var(--primary-bg);
}

.semi-bold-nav-link {
    font-weight: 600;
}

.burger-icon {
    /*display: flex;*/
    flex-direction: column;
    padding-top: 2px;
    padding-bottom: 2px;
    gap: 7px;
    display: none;
    cursor: pointer;
}

.burger-icon {
    .line1 {
        width: 30px;
        height: 2px;
        background-color: var(--primary-bg);
        transition: transform 0.2s ease-out;
    }
}

.burger-icon {
    .line2 {
        width: 16px;
        height: 2px;
        background-color: var(--primary-bg);
    }
}

.burger-icon {
    .line3 {
        width: 30px;
        height: 2px;
        background-color: var(--primary-bg);
        transition: transform 0.2s ease-out;
    }
}

.burger-menu {
    height: calc(100vh - 116px);
    background-color: var(--primary-bg);
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    animation: fromLeftToRight 0.4s ease-in-out;
}

.burger-menu nav {
    margin-top: 128px;
    display: flex;
    flex-direction: column;
    gap: 96px;
    padding-inline: 32px;
}

.burger-menu nav a {
    color: white;
    font-size: 1.25rem;
}

.hidden {
    display: none;
}

@keyframes fromLeftToRight {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

/*MAIN*/
/*SECTION 1 - tickets*/
.ticket-container {
    background: linear-gradient(180deg, #F5F5F5 0%, #DDECFF 100%);
    height: 896px;
}
.tickets-and-name-container {
    h1 {
        font-size: 4rem;
        font-weight: 700;
        padding-top: 128px;
        padding-bottom: 24px;
    }
}

/*SECTION 2 - statistics*/
.bg-blue-train {
    background-color: var(--primary-bg);
}

.statistics-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;
}

.statistics-element {
    color: #FFFFFF;
    height: 6.5625rem;
    width: 10.4375rem;
    text-align: center;
    h2 {
        font-size: 3.125rem;
        font-weight: 700;
    }
    h3 {
        font-size: 1.25rem;
        font-weight: 500;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        padding-inline: 32px;
    }
    .header-container {
        gap: 16px;
    }
    .header-nav {
        gap: 32px;
    }
}

@media screen and (min-width: 768px) {
    .burger-menu {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .header-nav {
        display: none;
    }
    .burger-icon {
        display: flex;
    }
    .burger-menu nav {
        gap: 96px;
    }
    .burger-menu nav a {
        font-size: 3rem;
    }
    .statistics-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        align-content: center;
        padding-top: 64px;
        padding-bottom: 64px;
        gap: 40px 128px;

        width: 100%;
        height: 100%;
    }
    .statistics-element {
        flex: none;
        order: 0;
        flex-grow: 0;
    }
}

@media screen and (max-width: 535px) {
    .container {
        padding-inline: 20px;
    }
    .bg-blue-train {
        width: 100%;
    }
    .statistics-container {
        gap: 30px 43px;
    }
    .statistics-element {
        flex: none;
        order: 0;
        flex-grow: 0;
        height: 84px;
        width: 137px;
        h2 {
            font-size: 2.5rem;
        }
        h3 {
            font-size: 1rem;
        }
    }
}

@media screen and (max-width: 360px) {
    .header-logo-name {
        display: none;
    }
    .burger-menu nav {
        margin-top: 64px;
        gap: 64px;
    }
    .burger-menu nav a {
        font-size: 1.25rem;
    }
    .statistics-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding-top: 30.5px;
        padding-bottom: 30.5px;
        gap: 30px 10px;
        margin: 0 auto;
        width: 100%;
    }
    .statistics-element {
        flex: none;
        order: 0;
        flex-grow: 0;
        height: 84px;
        width: 137px;
        h2 {
            font-size: 2.5rem;
        }
        h3 {
            font-size: 1rem;
        }
    }
}

/*SECTION 3 - IMAGES*/
.images-container {
    background: linear-gradient(180deg, #DDECFF 0%,  #F5F5F5 100%);
    max-width: 1440px;
    height: 1153px;
    h1 {
        font-size: 4rem;
        font-weight: 700;
        padding-top: 128px;
        padding-bottom: 24px;
    }
}

.grid-container {
    display: grid;
    grid-gap: 24px 32px;
    grid-template: 376px 88px 264px / 528px 305px 416px;
    grid-template-areas:
        "img1 img3 img4"
        "img2 img3 img4"
        "img2 img5 img5";
    width: 1312px;
    height: 777px;
}

.img {
    object-fit: fill;
    width: 100%;
    height: 100%;
}

.img1 {
    grid-area: img1;
}

.img2 {
    grid-area: img2;
}

.img3 {
    grid-area: img3;
}

.img4 {
    grid-area: img4;
}

.img5 {
    grid-area: img5;
}

@media screen and (max-width: 768px) {
    .images-container {
        width: 768px;
        height: 1840px;
    }
    .grid-container {
        display: grid;
        grid-gap: 24px;
        grid-template: 380px 362px 425px 225px / 340px 340px;
        grid-template-areas:
            "img1 img1"
            "img2 img2"
            "img3 img4"
            "img5 img5";
        width: 1312px;
        height: 777px;
    }
    .img1 {
        grid-area: img1;
    }
    .img2 {
        grid-area: img2;
    }
    .img3 {
        grid-area: img3;
    }
    .img4 {
        grid-area: img4;
    }
    .img5 {
        grid-area: img5;
    }
}

@media screen and (max-width: 360px) {
    .images-container {
        width: 360px;
        height: 1927px;
        padding-inline: 20px;
    }
    .images-container h1 {
        font-size: 2rem;
        font-weight: 700;
        padding-top: 64px;
        margin-bottom: 24px;
    }
    .grid-container {
        display: grid;
        grid-gap: 12px;
        grid-template: 220px 209px 472px 637px 141px / 320px;
        grid-template-areas:
            "img1"
            "img2"
            "img3"
            "img4"
            "img5";
        width: 360px;
        height: 1270px;
    }
    .img1 {
        grid-area: img1;
    }
    .img2 {
        grid-area: img2;
    }
    .img3 {
        grid-area: img3;
    }
    .img4 {
        grid-area: img4;
    }
    .img5 {
        grid-area: img5;
    }
}

/*SECTION 4 - APPS*/
.app-container {
    background-color: var(--secondary-bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 462px;
}

.apps-and-name-container {
    margin: 0 auto;
    padding-inline: 0;
    /*width: 863px;*/
    /*height: 462px;*/
    h1 {
        font-size: 3.875rem;
        font-weight: 700;
        text-align: center;
        padding-bottom: 60px;
    }
}

.app-icons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    a {
        display: inline-block;
    }
    .app {
        display: block;
    }
}

.app-icons-row1 {
    max-height: 65px;
}

.app-icons-row2 {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 39%);
}

@media screen and (max-width: 768px) {
    /*.app-container {*/
    /*    height: 509px;*/
    /*}*/

    .apps-and-name-container h1 {
        font-size: 2.5rem;
        padding-bottom: 32px;
    }

    .app-icons-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .app-icons-row2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 49px;
        width: 100%;
    }
}

@media screen and (max-width: 494px) {
    .apps-and-name-container h1 {
            font-size: 2rem;
            padding-bottom: 30px;
    }

    .app-icons-container {

        .app1 {
            width: 168px;
            height: 50px;
        }

        .app2 {
            width: 165px;
            height: 50px;
        }

        .app3 {
            width: 148px;
            height: 50px;
        }
    }

    .app-icons-row1 {
        max-height: 50px;
    }

    .app-icons-row2 {
        gap: 10px;
    }
}

@media screen and (max-width: 369px){
    .app-icons-row2 {
        flex-direction: column;
        gap: 30px;
    }
}

/*SECTION 5 - FAQs*/
.faqs-container {
    padding-inline: 0;
    padding: 128px 113px;
    padding-bottom: 236px;
    /*max-width: 1086px;*/
    /*margin: 128px 177px;*/
    h1 {
        font-size: 4rem;
        font-weight: 700;
        /*padding-top: 128px;*/
        padding-bottom: 40px;
    }
    summary {
        font-size: 1.125rem;
        font-weight: 500;
        padding-top: 16px;
        padding-bottom: 16px;
        color: var(--primary-text-color);
        transition: color 0.2s cubic-bezier(0, 0, 0.2, 1);
    }
    summary:hover {
        cursor: pointer;
        color: var(--primary-bg);
    }
    summary::marker {
        content: '';
    }
    summary::after {
        content: '+';
        position: relative;
        float: right;
        right: 1rem;
    }
    details[open] > summary::after {
        content: '+';
        transform: rotate(45deg);
    }
    p {
        font-size: 1rem;
        font-weight: 400;
        padding-top: 16px;
        padding-bottom: 16px;
    }
}

@media screen and (max-width: 768px) {
    .faqs-container {
        padding: 128px 0;
        padding-bottom: 236px;
    }
}

@media screen and (max-width: 500px) {
    .faqs-container {
        padding: 64px 0;
        padding-bottom: 148px;
        h1 {
            padding-bottom: 32px;
        }
    }
}

/*FOOTER - CONTACTS*/
.no-padding .container {
    padding-inline: 0;
}
.contacts {
    position: relative;
}
.contacts-container {
    background-color: #F5F5F5;
    width: 640px;
    height: 397px;
    padding: 51px 30px 60px;
    border: 1px solid grey;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -31%);
    text-align: center;
    h1 {
        font-size: 4rem;
        font-weight: 700;
        padding-bottom: 21px;
    }
    .phone-number,
    .email {
        font-size: 1.75rem;
        font-weight: 400;
    }
    .address {
        font-size: 1.125rem;
        font-weight: 400;
        padding-top: 30px;
    }
}

@media screen and (max-width: 768px){
    .contacts-container {
        width: 464px;
        height: 397px;
    }
}

@media screen and (max-width: 500px) {
    .contacts-container {
        width: 320px;
        height: 341px;
        h1 {
            font-size: 2.25rem;
        }
        .phone-number,
        .email {
            font-size: 1.25rem;
        }
    }
}

/*FOOTER*/
.footer-container {
    background-color: var(--primary-bg);
    padding-top: 468px;
}

.footer-nav-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 96px;
}

.footer-logo-image-and-name {
    display: flex;
    align-items: center;
    gap: 15px;
}
.footer-logo-image {
    width: 73px;
}

.footer-logo-name {
    font-size: 2.125rem;
    color: var(--tertiary-text-color);
    font-weight: 400;
}

.footer-nav {
    display: flex;
    gap: 32px;
    align-items: flex-start;
    color: var(--tertiary-text-color);
    ul {
        font-size: 1.25rem;
        font-weight: 600;
        width: 192px;
        height: 244px;
        margin-bottom: 0;
        li {
            margin-bottom: 24px;
            font-size: 1rem;
            font-weight: 500;
        }
        li:first-child {
            margin-top: 32px;
        }
        li:last-child {
            margin-bottom: 0;
        }
        li::marker {
            content: '';
        }
    }
    a {
        color: var(--tertiary-text-color);
        transition: color 0.2s cubic-bezier(0, 0, 0.2, 1);
    }
    a:hover {
        color: var(--primary-bg);
    }
}

.copyright {
    display: block;
    font-size: 1rem;
    color: var(--tertiary-text-color);
    font-weight: 600;
    padding-top: 40px;
    padding-bottom: 76px;
}

@media screen and (max-width: 945px) {
    .footer-nav-container {
        flex-direction: column;
        gap: 40px;
    }
}

@media screen and (max-width: 600px) {
    .footer-nav {
        flex-wrap: wrap;
    }
    ul {
        width: 140px;
        height: 188px;
    }
}



